apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gc-system

resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: gc-controller

