apiVersion: v1
kind: Service
metadata:
  name: gc-controller-metrics
  namespace: gc-system
  labels:
    app: gc-controller
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
  selector:
    app: gc-controller

